= render 'header/header'
.comments-index
  %article#main
    %header#gbl_title
      #gbl_title_container パンくず
      #user_header
        .container
          .avatar
            = link_to image_tag("//cdn.wimg.jp/profile/sirkp0/20190209200853931_80.jpg"), root_path
          .content
            %p.name けいた
            .meta
              %ul.info
                %li 178cm
                %li MEN
    #gbl_body
    