.comments-index {
  background: $glay;
  #main {
    padding: 54px 0 50px 0;
    #gbl_title {
      padding-top: 18px;
      background: white;
      min-height: 84px;
      border-bottom: 1px #ddd solid;
      position: relative;
      border: 1px #ddd solid;
      #glb_title_container {
        width: 990px;
        margin: 0 auto;
      }
      #user_header {
        padding: 12px 0;
        .container {
          width: 990px;
          margin: 0 auto;
          display: flex;
          .avatar {
            height: 48px;
            img {
              width: 48px;
              height: 48px;
              border-radius: 50%;
            }
          }
          .content {
            padding-left: 10px;
            .name {
              font-size: 20px;
              line-height: 1.2;
              max-width: 100%;
            }
            .meta {
              .info {
                padding-top: 4px;
                display: flex;
                font-size: 12px;
                position: absolute;
                li:nth-child(2) {
                  margin-left: 18px;
                }
                li:nth-child(2):before {
                  content: "";
                  width: 1px;
                  height: 14px;
                  background: #ddd;
                  position: absolute;
                  left: 50px;
                  top: 30%;
                }
              }
            }
          }
        }
      }
    }
    #gbl_body {
      padding-top: 20px;
      width: 990px;
      margin: 0 auto;
      #content_container {
        overflow: hidden;
        .comment_container {
          width: 414px;
          float: right;
          min-height: 500px;
          background:white;
          border-radius: 20px;
          border: 1px #ddd solid;
          .comment {
            width: 330px;
            margin-left: 18px;
            background: #FFCCCC;
            border-radius: 10px;
            border: #ddd;
          }
          .like_container {
            display: flex;
            margin: 10px;
            li {
              list-style: none;
              display: flex;
              line-height: 28px;
              .awesome {
                font-size: 22px;
                line-height: 1.2;
                color: #99FFCC;
                font-weight: bold;
                margin-right: 170px;
              }
            }
          }
          //吹き出し文
          .comments {
            max-width: 394px;
            margin: 30px auto;
            text-align: right;
            font-size: 14px;
            .balloon6 {
              width: 100%;
              margin: 30px 0;
              overflow: hidden;
            }
            .balloon6 .faceicon {
              float: left;
              margin-right: -50px;
              width: 40px;
              .img {
                height: 40px;
                width: 40px;
              }
            }
            .balloon6 .faceicon img{
              width: 100%;
              height: auto;
              border-radius: 50%;
            }
            .balloon6 .chatting {
              width: 100%;
              text-align: left;
            }
            .says {
              display: inline-block;
              position: relative; 
              margin: 0 0 0 50px;
              padding: 10px;
              max-width: 250px;
              border-radius: 12px;
              background: #FFCCCC;
            }
            .says:after {
              content: "";
              display: inline-block;
              position: absolute;
              top: 3px; 
              left: -19px;
              border: 8px solid transparent;
              border-right: 18px solid #FFCCCC;
              -webkit-transform: rotate(35deg);
              transform: rotate(35deg);
            }
            .says p {
              margin: 0;
              padding: 0;
            }
            /*以下、③右側の緑コメント*/
            .mycomment {
              margin: 10px 0;
            }
            .mycomment p {
              display: inline-block;
              position: relative; 
              margin: 0 10px 0 0;
              padding: 8px;
              max-width: 250px;
              border-radius: 12px;
              background: #99FF99;
              font-size: 15px;
            }
            .mycomment p:after {
              content: "";
              position: absolute;
              top: 3px; 
              right: -19px;
              border: 8px solid transparent;
              border-left: 18px solid #99FF99;
              -webkit-transform: rotate(-35deg);
              transform: rotate(-35deg);
            }
          }
        }
        .content_sub {
          width: 558px;
          float: left;
          .coodinate_img {
            height: 743px;
          }
          .coodinate_info {
            background: white;
            border: 1px #ddd solid;
            padding: 20px 0 13px 20px;
            ul {
              display: flex;
              margin-top: 10px;
              li {
                font-size: 11px;
                margin-right: 10px;
              }
            }
            .content {
              margin-top: 10px;
              padding:  20px 0 13px 20px;
              font-size: 14px;
              border-top: 1px #ddd solid;
              word-break: break-all;
            }
          }
          .coodinate_more {
            margin-top: 25px;
            &__title {
              font-size: 13px;
              font-weight: bold;
            }
            ul {
              display: flex;
              .more_img {
                border: 1px #ddd solid;
                margin-top: 18px;
                width: 172px;
                height: 225px;
                background: white;
                margin-right: 18px;
                .img {
                  margin: 0px;
                }
              }
            }
            .more {
              margin-top: 25px;
              float: right;
              font-size: 13px;
              .over {
                text-decoration: none;
                color: #888;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
