.coordinates-index {
  background: #f6f7f8;
  #main {
    padding: 54px 0 0 0;
    width: 100%;
    position: relative;
    #glb_body {
      #content {
        margin: 30px auto 0px auto;
        padding-bottom: 50px;
        width: 800px;
        #new_arrival {
          padding-top: 10px;
          clear: both;
          .title {
            font-size: 18px;
            color: #00CC00;
            font-weight: bold;
          }
          .new_arrival_image {
            overflow:hidden;
            li {
              float: left;
              margin: 18px 0 0 18px;
              border: 1px #ddd solid;
              background: white;
              position: relative;
              .image_container {
                background: #eaeaea;
                .img {
                  img {
                    vertical-align: bottom;
                    height: 328px;
                    width: 246px;
                  }
                }
              }
              .profile {
                padding: 10px;
                .content {
                  width: 156px;
                  float: left;
                  .sub {
                    width: 32px;
                    float: left;
                    .img {
                      img {
                        border-radius: 50%;
                        border: 1px #ddd solid;
                      }
                    }
                  }
                  .main {
                    width: 114px;
                    float: right;
                    .name {
                      font-size: 13px;
                      line-height: 1.2;
                      font-weight: bold;
                    }
                    .height {
                      font-size: 11px;
                      line-height: 1.2;
                      margin-top: 3px;
                    }
                  }
                }
                .like_container {
                  float: right;
                  width: 64px;
                  .awesome {
                    font-size: 13px;
                    line-height: 1.2;
                    color: #99FFCC;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
