.users-show {
  background: $glay;
  #glb_main {
    padding: 54px 0 0 0;
    #glb_title {
      padding: 18px 0 30px 0;
      background: white;
      min-height: 133px;
      border-bottom: 1px #ddd solid;
      #glb_titlle_container {
        @include breadcrumbs;
        #users_header {
          margin-top: 22px;
          overflow: hidden;
          #users_sub {
            width: 150px;
            float: left;
            margin-left: 42px;
            .image {
              width: 150px;
              height: 150px;
              .img {
                border-radius: 50%;
                border: 1px #ddd solid;
              }
            }
          }
          #users_main {
            width: 750px;
            float: right;
            margin-top: 3px;
            .intro {
              .name {
                font-size: 24px;
                line-height: 1.4;
                color: #333;
                float: left;
              }
              .link {
                float: right;
                text-decoration: none;
                color: $button;
                font-weight: bold;
              }
              .meta {
                padding-top: 10px;
                clear: both;
                .info {
                  display: flex;
                  font-size: 12px;
                  position: relative;
                  li:nth-child(2) {
                    margin-left: 20px;
                  }
                  li:nth-child(2):before {
                    content: "";
                    width: 1px;
                    height: 14px;
                    background: #ddd;
                    position: absolute;
                    left: 50px;
                    top: 20%;
                  }
                }
              }
            }
            .profile {
              font-size: 13px;
              margin-top: 15px;
              &__detail {
                word-wrap: break-word;
              }
            }
          }
        }
      }
    }
    #glb_body {
      width: 990px;
      margin: 0 auto;
      padding-top: 10px;
      min-height: 500px;
      .current_user {
        width: 120px;
        height: 55px;
        background: #333;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        &__number {
          font-weight: bold;
          padding-top: 5px;
        }
        span {
          font-size: 10px;
        }
      }
      .content {
        margin-top: 18px;
        .list_container {
          overflow: hidden;
          width: 1020px;
          .list {
            width: 232px;
            margin: 0 20px 20px 0;
            float: left;
            &__image {
              height: 308px;
              border: 1px #ddd solid;
            }
          }
        }
      }
    }
  }
}
